.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-main;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;

  &:hover {
    filter: opacity(0.7);
    color: $color-main;
    transition-duration: 0.3s;
  }
}
