@import "../nav/nav";

.info-block {
    padding: 24px 16px;
    margin-top: 88px;

    @media (min-width: $screen-tablet) {
        padding: 24px;
    }

    @media (min-width: $screen-desktop-wide) {
        margin-top: 0;
        padding-top: 42px;
        position: relative;
    }

    &__content {
        @media (min-width: $screen-tablet) {
            display: flex;
            flex-wrap: nowrap;
        }

        @media (min-width: $screen-desktop-wide) {
            margin-top: 20px;
        }
    }


    &__buttons-wrapper {
        display: none;

        @media (min-width: $screen-desktop-wide) {
            display: flex;
            float: right;
            margin-right: 8px;
        }
    }

    &__button {
        display: none;

        @media (min-width: $screen-desktop-wide) {
            display: flex;
            align-items: center;
            position: relative;
            margin-right: 32px;
            background-color: $color-background;

            &:hover {
                filter: opacity(0.7);
                color: $color-main;
                transition-duration: 0.3s;
            }

            &--check-status {
                margin-right: 0px;
            }
        }
    }

    &__picture-button {
        height: 40px;
        width: 40px;
    }

    &__text-button {
        display: inline-block;
        white-space: nowrap;
        letter-spacing: -0.2px;
        font-size: 16px;
        font-weight: 500;

        margin-right: 8px;
    }

    &__title {
        display: inline-block;
        font-size: 28px;
        font-weight: bold;
        letter-spacing: -0.6px;
        position: relative;
        margin-top: 0;
        margin-bottom: 24px;

        @media (min-width: $screen-desktop-wide) {
            margin-left: 8px;
        }

        &::before {
            content: "";
            width: 4px;
            height: 40px;
            border-radius: 20px;
            position: absolute;
            top: -5px;
            left: -16px;
            background-color: $color-before;

            @media (min-width: $screen-tablet) {
                left: -24px;
            }

            @media (min-width: $screen-desktop-wide) {
                left: -32px;
            }
        }
    }

    &__nav {
        font-size: 16px;
    }

    &__text-wrap {
        @media (min-width: $screen-tablet) {
            width: 50%;
        }
    }

    &__text {
        line-height: 18px;
        font-size: 14px;
        letter-spacing: 0.2px;
        height: auto;
        max-height: 90px;
        overflow: hidden;

        transition: all linear 0.5s;

        @media (min-width: $screen-tablet) {
            padding-right: 48px;
            max-height: 160px;
        }
    }

    &__img-wrap {
        margin: 15px -16px 0 -16px;

        @media (min-width: $screen-tablet) {
            width: 50%;
            margin: 0;
        }
    }

    &__img {
        width: 100%;
        height: auto;

        @media (min-width: $screen-tablet) {
            border-radius: 6px;
        }
    }
}
