.technics-swiper {
    position: relative;
    overflow: hidden;

    &::after {
        position: absolute;
        content: '';
        right: 0;
        z-index: 2;
        background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
        width: 24px;


        top: 10px;
        height: 166px;

        @media (min-width: $screen-tablet) {
            content: none;
        }
    }

    &__wrapper {
        max-height: 280px;
        margin-bottom: 28px;

        @media (min-width: $screen-tablet) {
            box-sizing: border-box;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(248px, 1fr));
            height: auto;
            max-height: 200px;

            padding: 24px 0 0 24px;
            margin-bottom: 0;

            transition: max-height 0.5s;
        }
    }

    &__slide {
        box-sizing: border-box;
        padding: 16px;
        margin: 16px 0 24px 16px;

        border-radius: 6px;
        background-color: #FFFFFF;

        display: flex;
        position: relative;
        width: 240px;
        height: 160px;

        @media (min-width: $screen-tablet) {
            width: auto;
            max-width: 303px;
            margin: 0 24px 16px 0;
        }
    }

    &__text {
        font-weight: 500;
    }

    &__button {
        position: absolute;
        bottom: 16px;
        right: 16px;
    }
}
