$color-main: #FF3E79;
$color-text: #1B1C21;
$color-title: #7E7E82;
$color-background: #F8F8F8;
$color-border: #D9FFF5;
$color-before: #41F6D7;

$font-family: "TT Lakes", sans-serif;

$screen-mobile: 320px;
$screen-tablet: 768px;
$screen-desktop: 1120px;
$screen-desktop-wide: 1440px;
