.header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 88px;
    border-bottom: 1px solid $color-border;
    padding: 0 16px;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    @media (min-width: $screen-tablet) {
        padding-left: 24px;
        padding-right: 40px;
    }

    @media (min-width: $screen-desktop-wide) {
        display: none;
    }

    &__left-side, &__right-side {
        display: flex;
        align-items: center;
    }

    &__rs-second-block, &__rs-first-block, &__ls-first-block, &__ls-second-block {
        display: flex;
        flex-wrap: nowrap;
    }

    &__ls-first-block {
        @media (min-width: $screen-tablet) {
            margin-right: 26px;
            position: relative;

            &:before {
                pointer-events: none;
                cursor: default;

                position: absolute;
                right: -9px;
                top: 4px;

                content: '';
                background-color: #EAEAEA;
                border-radius: 2px;
                width: 2px;
                height: 32px;
            }
        }
    }

    &__rs-second-block {
        margin-left: 20px;
        position: relative;

        &:before {
            position: absolute;
            left: -20px;
            top: 4px;

            content: '';
            background-color: #EAEAEA;
            border-radius: 2px;
            width: 2px;
            height: 32px;

            pointer-events: none;
            cursor: default;
        }
    }

    &__button {
        margin-right: 16px;

        &--last {
            margin-right: 0;
        }

        &--dn {
            display: none;

            @media (min-width: $screen-tablet) {
                display: flex;
            }
        }
    }

    &__logo {
        width: 96.5px;
        height: 51px;
    }
}

