.header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 88px;
    border-bottom: 1px solid $color-border;
    padding: 0 16px;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    @media (min-width: $screen-tablet) {
        padding-left: 24px;
        padding-right: 40px;
    }

    @media (min-width: $screen-desktop-wide) {
        display: none;
    }

    &__left-side, &__right-side {
        display: flex;
        align-items: center;
    }

    &__link-logo {
        @media (min-width: $screen-tablet) {
            margin-left: 20px;
            position: relative;

            &:before {
                position: absolute;
                left: -20px;
                top: 10px;

                content: '';
                background-color: #EAEAEA;
                border-radius: 2px;
                width: 2px;
                height: 32px;
            }
        }
    }

    &__button {
        margin-right: 16px;

        &--repair {
            margin-left: 20px;
            position: relative;

            &:before {
                position: absolute;
                left: -20px;
                top: 4px;

                content: '';
                background-color: #EAEAEA;
                border-radius: 2px;
                width: 2px;
                height: 32px;
            }

            @media (min-width: $screen-desktop-wide) {
                margin-left: 24px;
            }
        }

        &--last {
            margin-right: 0;
        }

        &--dn {
            display: none;

            @media (min-width: $screen-tablet) {
                display: flex;
            }
        }
    }

    &__logo {
        width: 96.5px;
        height: 51px;
    }
}

